# soll den temp folder im Analyse teil ausnehmen
analysis/temp/*
!analysis/

analysis/do-files/Extrahieren_local/temp/*


*tex.bak
# NACHFOLGEND WAS SCHON VORGEGEBN WAR:
*-blx.bib
*.asv
*.aux
*.bbl
*.bcf
*.bib_*.utf8
*.blg
*.dvi
*.ent
*.fff
*.fls
*.glo
*.idx
*.ilg
*.indgit
*.lof
*.log
*.lot
*.mod
*.nav
*.o
*.out
*.pdf
*.pdfsync
*.prj
*.pyc
*.run.xml
*.snm
*.sublime-*
*.svn
*.tmproj
*.toc
*.ttt
*.vrb
.waf*
waf-*
waf3-*
*latexmk
*synctex.gz
.*
!.environment.osx.yml
!.environment.windows.yml
!.environment.linux.yml
!.env
.*pdfsvn
__pycache__
analysis_out
bld
build
debug
Debug
final_out
formatted_data
project_documentation
scons.py
test
Test
textmatetostata.do
fake
full
~$*
Thumbs.db
___*
!.gitignore
!.mywaflib
.env/workaround.bat
.env/installed_conda_pkgs
.env/installed_pip_pkgs
.env/installed_spec.json

TeX/_paper/Korrekturen/

analysis/graphs/KKH/C1_C2_\.gph

analysis/graphs/KKH/C1_C2_r_fert_\.gph

analysis/graphs/KKH/C1_C2_r_popf_\.gph

analysis/graphs/KKH/C1_C3_\.gph

analysis/graphs/KKH/C1_C3_r_fert_\.gph

analysis/graphs/KKH/C1_C3_r_popf_\.gph

analysis/graphs/KKH/C2_\.gph

analysis/graphs/KKH/C2_r_fert_\.gph

analysis/graphs/KKH/C2_r_popf_\.gph

analysis/graphs/KKH/female_\.gph

analysis/graphs/KKH/female_r_fert_\.gph

analysis/graphs/KKH/female_r_fert_d5\.gph

analysis/graphs/KKH/female_r_fert_metabolic_syndrome\.gph

analysis/graphs/KKH/female_r_fert_respiratory_index\.gph

analysis/graphs/KKH/female_r_popf_\.gph

analysis/graphs/KKH/male_\.gph

analysis/graphs/KKH/male_r_fert_\.gph

analysis/graphs/KKH/male_r_fert_d5\.gph

analysis/graphs/KKH/male_r_fert_metabolic_syndrome\.gph

analysis/graphs/KKH/male_r_fert_respiratory_index\.gph

analysis/graphs/KKH/male_r_popf_\.gph

analysis/graphs/KKH/total_\.gph

analysis/graphs/KKH/total_r_fert_\.gph

analysis/graphs/KKH/total_r_fert_d5\.gph

analysis/graphs/KKH/total_r_fert_metabolic_syndrome\.gph

analysis/graphs/KKH/total_r_fert_respiratory_index\.gph

analysis/graphs/KKH/total_r_popf_\.gph

analysis/graphs/

analysis/source/

analysis/do-files/GWAP_analyse/D_Ergebnisse/

analysis/temp/

*.gz(busy)

TeX/d5_overMOBand YEAR/

maps/

analysis/tables/KKH/
